@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 16px;
    position: sticky;
    top: 0;
    background-color: white;
}

.navbar .logo{
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.logo img{
    width: 129px;
    margin-left: 10px;
}

.navbar .searchbar{
    display: flex;
    height: 35px;
    align-items: center;
}

.search{
    display: flex;
    color: black;
    border: 1px solid #cccccc;
    width: 600px;
    margin-right: 10px;
    height: 100%;
}

.search input{
    border: none;
    width: 90%;
    padding-left: 5px;
}

.search button{
    border: none;
    border-left: 1px solid #cccccc;
    width: 10%;
    align-items: center;
    cursor: pointer;
}

.material-icons{
    color: #686767;
    margin-right: 10px;
    cursor: pointer;
}

.search button i{
    margin-right: 0;
    padding: 2px;
}

.mainbody{
    display: flex;
    height: calc(100vh - 56px);
    overflow: hidden;
}

.categories{
    width: 240px;
    height: 100%;
    background: white;
    overflow-y: scroll;
}

.category-section{
    border-bottom:  1px solid #cccccc;
    margin-top: 10px;
}

.category-section .category:last-child{
    margin-bottom: 10px;
}

.category{
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 24px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
}

.category-heading{
    margin: 10px 0px 10px 25px;
    font-size: 14px;
    font-weight: 500;
    color: #686767;
}

.category i{
    margin-right: 24px;
}

.category:hover{
    background: #f9f9f9;
}

.active{
    background: #d0d0d0;
    font-weight: 500;
}

.active:hover{
    background: #d0d0d0;
}

.active i{
    color: red;
}

.categories-footer{
    margin: 0px 20px 20px 10px;
    padding: 25px;
}

.footer-section{
    margin-bottom: 12px;
}

.footer-section span{
    font-size: 13px;
    font-weight: 500;
    margin-right: 5px;
    color: #888787;
    cursor: pointer;
}

.copyright{
    color: #888787;
    font-size: 13px;
    font-weight: 400;
}



.videos{
width: calc(100vw - 240px);
height: 100%;
background:#f9f9f9;
border-top: 1px solid #cccccc;
overflow-y: scroll;
}

.video-grid{
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
}

.video{
    width: calc(25% - 15px);
    margin-right: 15px;
    cursor: pointer;
    margin-bottom: 35px;
}

.video .thumbnail img{
    width: 100%;
}

.video .details{
    display: flex;
    margin-top: 5px;
    width: 90%;
}

.video .profile{
    margin-right: 12px;
}

.video .profile img{
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

.video .video-details p{
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
}

.video .posted-by{
    font-size: 14px;
    font-weight: 500;
    color: #888787;
}